.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding: 0;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  
  background-color: rgb(239,239,239);
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  width: 228px;
  height: 32px;
  /*background-image: url(./images/logo_place_header.svg)100% 100% no-repeat;
  background-size: cover;*/
}
.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}
.header_title{
  width:730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin-left: 64px;
  position: relative;
  display: flex;
  z-index: 3; 
}
.header_subtitle{
  width: 388px;
  height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;

}
.header__link {
  text-decoration: none;
 
}
.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content:flex-end;
  object-fit: cover;

}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  display: flex;
  position: absolute;
  top: 64px;
  right: 0;
}


.content {
  position: relative;
}


.description{
  margin: 0;
  padding: 0;
  display: flex;
}
        
.two-columns{
  padding: 0;
  width: 80%;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  position: relative;
  
}

.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: #2f80ed;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  align-content: start;

}
.two-columns__main-text{
  padding-left: 65px;
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}
.two-columns__paragraph{
  

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  
}
.two-columns__span-accent{
  height: 34;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  
  flex-wrap: wrap;

}
.two-columns__paragraph_last {
  padding-bottom: 0;
}




.digits{
  margin: 0;
  padding: 0;
}
.section-title{
  margin: 100px auto 20px;
  width: 60%;
  height: 1.15;
  font-size: 60px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.section-subtitle{
  margin: 0 auto;
  width: 60%;
  height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  justify-content: center;

}
.table{
  margin: 0 auto 100px;
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.table__cell{
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 60px 0 0;

}
.table__heading{
  margin-bottom: 20px;
  height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text{
  justify-content: center;
  padding-top: 20px;
  height: 1.2;
  font-size: 18px;
  font-weight: normal;
}


.feynman__title{
  width: 648px;
  margin: 100px auto 0;
  height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  z-index: 1;

}
.feynman__subtitle{
  margin: 70px auto 0;
  height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}
.feynman__link{
  position: absolute;
  right: 0;
  top: 50%;
  height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  text-decoration: none;
  color: black;
}
.feynman__foto{
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.kaufman {
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  overflow: hidden;
  color: white;
  position: relative;
}
.section-title_theme_dark {
  margin: 90px auto 20px;
  position: relative;
  z-index: 2;
}
.section-subtitle_theme_dark {
  
}
.table_theme_dark {
  margin: 0 auto 90px;
  width: 1100px;
  z-index: 3;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  position: relative;
  z-index: 2;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;
}

.table__heading_theme_dark {}
.table__text_theme_dark {}

.feynman{
  height: 890px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer{
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns{
  width: 90%;
  height: 250px;
  margin: 60px auto 40px;
  flex-basis: 711px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.footer__column_content_copyright{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.logo_place_footer{
  margin-top: 0;
  margin-left: 0;
}
.footer__author{
  margin: 18px 0;
  height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info{
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px 0 16px;
  height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_social{
  height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px 0 16px;
}
.footer__column-links{
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0 16px;
}

.footer__column-heading{
  height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__social-icon{
  width: 16px;
  height: 16px;
  margin: 0 5px;
  display: inline;
}

.footer__column-link{
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}